/*General css rules here*/
* {
  font-family: Merriweather;
  outline: 0;
}



/* EL FOOTER AQUÃ */

header {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: nowrap;
  flex-shrink:0;
}

#logo {
    width: 3em;
    height: 4em;
    margin: 10px;
}
#logo:hover {
    -webkit-animation: logoup 1s infinite ;
    animation: logoup 1s infinite alternate;
}
@keyframes logoup {
  from {
    margin-top: 10px;
  }
  to {
    margin-top: 0px;
  }
}
@keyframes logorestore {
    from {
      margin-top:any;
    }
    to {
      margin-top: 10px;
    }
}

.headeritem {
    border: 0px solid black;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 25;
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin: 0px;

}
.headeritem a {
  text-decoration: none;
  color: black;
}
.headeritem:hover, .headeritem:hover > a {
  background-color: black;
  color: white;
}

#dropdown-content {
  float:inherit;
  display: none;
  flex-direction: column;
  position:relative;
  top: 0px;
  border: solid 3px black;
  text-align: center;
  text-decoration: none;
}

/* The side navigation menu */
.sidenav {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript (This would open the menu)*/
   position: fixed; /* Stay in place */
   z-index: 1; /* Stay on top */
   top: 0; /* Stay at the top */
   right: 0;
   background-color: #111; /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
   color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
   transition: margin-left .5s;
   padding: 20px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}

.menuitem {
  background-color: white;
}

/* FOOTER Down here */

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-top: solid 3px black;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    text-align: right;

}

footer div {
  position: relative;
  top: 0px;
  margin: 10px;
  height: 0.6em;
}
